<h1 class='admin-skill-title'>Create New Skill!</h1>

<div class='flash-error'>
    <% if flash[:error].present?%>
        <%= flash[:error]%>
    <% end %>
</div>


<%= render partial: 'form', locals: { skill: @skill, view: 'new' } %>

<section class='skill-list'>


    <ul class='ul-skill-list'>

        <h2>Soft SKill List</h2>
    <% @skill_soft_type.each do |skill|%>

    <li> 
        <%= skill.skill_description%>
    </li>

    <% end %>
    </ul>


    <ul class='ul-skill-list'>
        <h2>Hard Skill List</h2>
    <% @skill_hard_type.each do |skill|%>

    <li> 
        <%= skill.skill_description%>
    </li>

    <% end %>
    </ul>

</section>
