
<main class='user-main-skill'>

<h1 class='user-title-skill'>Skills</h1>

<div class='txt-user-skill'>that I have been developing since the start of this non-ending journey</div>

<section class='skill-list'>


    <ul class='ul-skill-list'>

        <h2>Soft SKill List</h2>
    <% @skill_soft_type.each do |skill|%>

    <li> 
        <%= skill.skill_description%>
    </li>

    <% end %>
    </ul>


    <ul class='ul-skill-list'>
        <h2>Hard Skill List</h2>
    <% @skill_hard_type.each do |skill|%>

    <li> 
        <%= skill.skill_description%>
    </li>

    <% end %>
    </ul>

</section>
</main>