/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   background-color:darkslategray;
   color: black;
 }
 .error-list{
    color: red;
 }
/* admind skills */
.admin-skill-title{
   height: fit-content;
   width: 400px;
   margin: 0 auto;
   margin-bottom: 30px;
}
 .skill-list{
   display: flex;
   height: 200px;
   width: 600px;
   margin: 0 auto;
   margin-top: 2%;
 }
 .ul-skill-list{
   margin: 2%;
 }
 /* admind skills */

 /* form skills */
 .form-skills{
   height: 120px;
   width: 400px;
   margin: 0 auto;
 }
 /* form skills */
 
 
 /* user  skill classes */
 .user-main-skill{
    height:max-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
   }
   .user-title-skill{
      margin: 0;
   }
/* user  skill classes */